body{
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: brown;
    padding: 60px;
    font-family: Arial;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

li {
    margin: 0 10px;
}

li a{
    background-color:brown;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size:20px;
    border:solid wheat 2px;
    border-radius: 10%;
}
li a:hover {
    background-color: chocolate;
}
.name{
    text-align: center;
    font-size: 60px;
    margin-top: 10px;
}
.intro{
    margin-top:30px;
    font-size:25px;
    text-align: center;
}
footer{
    background-color: black;
    color:white ;
    text-align: center;
    padding: 20px;
    float:bottom;
    margin-top: 500px;
}
/*css for project page*/
.images {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 15px;
}

.image {
    border: 2px solid black;
    height: 200px;
    margin:20px;
}

/*css for contact form page*/
* {
    margin: 0;
    padding: 0;
}

.box {
    width: 600px;
    height: 750px;
    background-color: white;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.contact {
    padding: 30px;
    color: black;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.label {
    color: black;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    clear: both;
}

.name {
    display: flex;
    margin-bottom: 15px;
    margin-right: 20px;
}

input {
    width: 48%;
    padding: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-right: 20px;
}

.submit input {
    background-color: black;
    color: white;
    padding: 20px;
    width: 30%;
    border-radius: 60px;
    margin-left: 190px;
    margin-top: 30px;
    font-size: 16px;
}

.submit input:hover {
    background-color: white;
    color:black;
}
.gender {
    display: flex;
    flex-direction: column;
}

.gender label {
    display: flex;
    width:10%;
}
input[name="email"],input[name="number"] {
    width: 85%;
}
